body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}

/* ===== APP ===== */
.app{
  height:100vh;
  display:flex;
  flex-direction:column;
}

/* ===== HEADER ===== */
.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:#111827;
  position:sticky;
  top:0;
}

.title{
  font-size:18px;
  font-weight:bold;
}

#search{
  width:60%;
  height:45px;
  border:none;
  border-radius:10px;
  padding:0 10px;
}

/* ===== BODY ===== */
.body{
  display:flex;
  height:100%;
}

/* LEFT */
.left{
  width:35%;
  border-right:1px solid #334155;
  overflow:auto;
}

#resultCount{
  padding:10px;
  color:#38bdf8;
  text-align:center;
}

#list div{
  padding:10px;
  border-bottom:1px solid #1f2937;
  cursor:pointer;
}

#list div:hover{
  background:#1f2937;
}

/* RIGHT */
.right{
  width:65%;
  padding:20px;
}

/* DETAILS */
.card{
  background:#111827;
  padding:20px;
  border-radius:10px;
}

.code{
  font-size:22px;
  font-weight:bold;
  color:#38bdf8;
}

.desc{
  margin-top:10px;
}

/* highlight */
.highlight{
  background:red;
  padding:2px 5px;
  border-radius:5px;
}