body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* الشريط العلوي */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

/* البحث */
input {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* الأقسام */
.section {
  padding: 20px;
}

.section h2 {
  color: #38bdf8;
  border-bottom: 1px solid #334155;
  padding-bottom: 5px;
}

/* بطاقة الكود */
.code-box {
  background: #1e293b;
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  border-right: 4px solid #38bdf8;
}

/* الكود */
.code {
  font-weight: bold;
  color: #fbbf24;
}

/* الوصف */
.desc {
  margin-top: 5px;
  color: #cbd5e1;
}

/* التمييز عند البحث */
.highlight {
  background: red;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}